:root {
  --primary-color: #055a05;
  --secondary-color: #f4a261;
  --accent1-color: #264653;
  --accent2-color: #e9c46a;
  --heading-font: "Times New Roman", "Georgia", serif;
  --body-font: Arial, Helvetica, sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  color: var(--accent1-color);
}

header {
  display: grid;
  grid-template-columns: 120px 1fr 1fr;
  align-items: center;
  height: 200px;
  padding: 20px 80px;
  gap: 90px;
  
}

.navigation {
  display: flex;
  list-style: none;
  flex: 1 1 auto;
  gap: 20px;
  padding-left: 200px;
  width: 600px;
}
header, main, footer {
  width: 840px;
  margin: 0 auto;
  
}

header img {
  width: 220px;
  height: auto;
 
}

h1, h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
  background-color: var(--accent2-color);
  text-align: center;
  padding: 16px;
  font-size: 25px;
}

nav, p, section, article {
 margin: 16px;
 padding: 8px;
}

nav a {
  text-decoration: none;
}

.socialmedia a {
  text-decoration: none;
  
}

.socialmedia a img {
  width: 45px;
  height: 45px;
  transition: transform 0.3s;
}

.hero {
  position: relative;
}

.hero img{
 display: block;
 width: 100%;
 height: auto;
}

h1 {
  color: #fff;
  padding: 16px;
  background-color: var(--accent1-color);
  opacity: 0.7;
  text-align: center;
  position: absolute;
  top: 20px;
  width: 100%
}

article {
  position: absolute;
  top: 300px;
  background-color: var(--secondary-color);
  
}

.history {
  display: flex;
  gap: 20px;
  padding-top: 16px;
  
}
.history p {
  width: 650px; 
}
section img {
  width: 290px;
  height: 16rem;
}
  
.hero article img {
  float: right;
  width: 125px;
  height: 120px;
  margin-left: 16px;
}

footer nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 600px;
}
