:root {
  --primary-color: #055a05;
  --secondary-color: #f4a261;
  --accent1-color: #264653;
  --accent2-color: #e9c46a;
  --heading-font: "Times New Roman", "Georgia", serif;
  --body-font: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  color: var(--accent1-color);
}

header {
  display: grid;
  grid-template-columns: 120px 1fr 1fr;
  align-items: center;
  height: 200px;
  padding: 20px 80px;
  gap: 90px;

}

.navigation {
  display: flex;
  list-style: none;
  flex: 1 1 auto;
  gap: 20px;
  padding-left: 200px;
  width: 600px;
}

header,
main,
footer {
  width: 840px;
  margin: 0 auto;

}

header img {
  width: 220px;
  height: auto;

}

.hero h1,
.section-h2 h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
  background-color: var(--accent2-color);
  text-align: center;
  padding: 16px;
  font-size: 25px;
}

article {
  margin: 16px;
  padding: 8px;
}

nav,
p,
section {
  margin: 0px;
  padding-top: 8px;
}

nav a {
  text-decoration: none;
}

.socialmedia a {
  text-decoration: none;
}

.socialmedia a img {
  width: 45px;
  height: 45px;
  transition: transform 0.3s;
}

.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero h1 {
  color: #fff;
  padding: 16px;
  background-color: var(--accent1-color);
  opacity: 0.7;
  text-align: center;
  position: absolute;
  top: 20px;
  width: 100%
}

.heading2 {
  padding: 0;
  background-color: var(--secondary-color);
  text-align: center;
}

article {
  position: absolute;
  top: 290px;
  background-color: var(--secondary-color);
}

.history {
  display: flex;
  gap: 20px;
  padding-top: 16px;

}

.history p {
  width: 650px;
}

section img {
  width: 290px;
  height: 190px;
}

.hero article img {
  float: right;
  width: 125px;
  height: 120px;
  margin-left: 16px;
}

.adventure-images {
  display: flex;
  padding-top: 20px;
  gap: 30px;
  justify-content: center;
  text-align: center;

}

figure img {
  width: 100px;
  height: 90px;
}

footer nav {
  display: flex;
  padding-right: 48px;

}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 350px;

}

.contact-page h1,
.contact-page p {
  font-size: 20px;
  text-align: center;
}

form {
  width: 400px;
}

iframe {
  height: 337px;
  width: 360px;
}

.grid-items {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 60px;
  padding-top: 15px;

}

.column2 {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding-top: 10px;
  width: 370px;
  gap: 50px;
}

.grid-div {
  display: grid;
  gap: 10px;
}

.flex-div {
  display: flex;
  gap: 10px;
}

input[type=text] {
  height: 35px;
  border-radius: 3px;
  border: 1px solid rgb(0, 0, 0);
  font-size: 0.91rem;
  padding-left: 7px;
}

input[type=email] {
  height: 35px;
  padding-left: 7px;
  border-radius: 3px;
  font-size: 0.91rem;
  border: 1px solid rgb(0, 0, 0);
}

.grid-item {
  display: grid;
  gap: 10px;
  width: 370px;
}

.service-section {
  border: 1px solid rgb(0, 0, 0);
  margin-top: 20px;
}

figure img {
  width: 100px;
  height: 100px;
  padding-top: 10px;

}

.service-section h2 {
  text-align: center;
}

.employees {
  display: flex;
  gap: 60px;
  justify-content: center;
  height: 150px;
}

button {
  border-radius: 3px;
  height: 35px;
  border: 1px solid rgb(0, 0, 0)/0.2;
}

.subscription label {
  width: 320px;
}

.label-flex {
  display: flex;
  gap: 3px;
  width: 360px;
  justify-content: space-around;

}

textarea {
  height: 60px;
  padding-left: 7px;
  border-radius: 3px;
  font-family: var(--body-font);
  border: 1px solid rgb(0, 0, 0);
  padding-top: 5px;
  font-size: 0.91rem;

}