* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.2em;
  color: #333;
  background: #fff;
}

header {
  margin: 0 auto;
  width: 650px;
}
h1 {
  margin: 1rem;
  font-size: 1.5rem;
  color: navy;
  text-align: center;
}

form {
width: 650px;
margin: 0 auto;
padding: 1rem;
border: 1px solid rgb(0, 0, 0 / 0.1);
border-radius: 0.5rem;
background-color: #eee;
display: grid;
}

fieldset {
  display: grid;
  gap: 0.5rem;
  margin: 1rem;
  border: 1px solid rgb(0, 0, 0 / 0.2);
  padding: 1rem;
}

legend {
  padding: 0.5rem;
  color: navy;
  font-size: 1.3em;
}

label, input, button, select, textarea {
  font-family: Roboto, Arial, sans-serif;
}

label {
  text-align: right;
  padding-right: 1rem;
} 

input, select, textarea {
  padding: 0.5rem;
  font-size: 1.1rem;
}

input[type="checkbox"] {
  width: 22px;
  height: 22px;
  vertical-align: bottom;
}

button {
  background-color: navy;
  color: #fff;
  border: none;
  margin: 1rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  padding: 0.75rem;
  justify-self: center;
}

button:hover {
  background-color: darkgreen;
}

footer {
  color: #777;
  border-top: 1px solid #ccc;
  text-align: center;
  width: 650px;
  margin: 1rem auto 0;
  font-size: 0.8em;

}

.form-item {
  display: grid;
  align-items: center;
}

.column1 {
 grid-template-columns: 3fr 1fr;
 margin: 10px;
 padding-right: 65px;
}

.column2 {
  grid-template-columns: 1fr 2fr;
  margin-right: 5px;
}