 table {
 border: 2px solid  rgb(150, 150, 150) ;
 border-collapse: collapse; 
 font-family: Arial, Helvetica, sans-serif;
 letter-spacing: 1px;
}
 
th, td {
  border: 1px, solid rgb(150, 150, 150);
  text-align: center;
  padding: 8px 12px;
}

thead th, tfoot tr {
  color: white;
  background-color: rgb(0, 0, 0);
  font-weight: 700;

} 
 
