* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --padding: 10px;
  --width: 150px;
}


nav {
  background-color: darkblue;
  padding: var(--padding);
}

nav a {
  color: white;
  display: block;
  padding: 20px;
}

h1 {
  color: darkblue;
}

img {
  width: var(--width);
  height: auto;
  border: 1px solid black;
  padding: 2px;
  box-shadow: 0 0 30px gray;
}

p {
  padding: var(--padding);
}

main {
  max-width: 840px;
}

aside {
  position: relative;
   width: 20rem;
   border: 1px solid rgb(0 0 0 / 0.2); /* 1 */
   background-color: #eee;
   color: #333;
   text-align: center;
}
aside img {
  width: 200px;
  height: auto;
}

main img {
  width: var(--width);
  height: auto;
}
p {
  padding: 0;
}

footer {
  margin-top: 15px;
  border-top: 1px solid #000;
  text-align: center;
}

/* Class selectors */

.box {
   margin: 1rem;
   border: 1px solid rgb(0 0 0 / 10%);
   padding: 1rem;
   background-color: red;
   color: white;
}

main img {
  float: right;
}

aside h2 {
  position: absolute;
  top: 17px;
  left: 130px;
}