body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}
header {
  color: white;
  font-size: 1.55rem;
  padding: 5px;
}
header, footer{
  background-color: #333;
  margin-left: 300px; 
  margin-right: 300px;  
  line-height: 0%;
}
main {
  margin: 0 auto;
  width: 360px;
}

h1{
  font-size: 1.8rem;
  margin: 20px 0;
  letter-spacing: 0.02em;

}
picture img{
  width: 360px;
  height: auto;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
  margin-bottom: 30px;
}

section {
  background-color: #e6e6e6;
  margin-bottom: 15px;
  padding: 12px;
  text-align: left;
  font-size: 0.9rem;
}

section p{
   margin-left: 0.75rem;
}
section h2{
  margin-top: 0;
  font-size: 1rem;
  padding-bottom: 5px;
  border-bottom: 1px solid #999;

}
ul {
  padding: 20px;
  margin: 0;
}
a {
  color: blue;
  font-size: 0.85rem;
}
footer {
  color: white;
  font-size: 100%;
  padding: 1px;
}